<!DOCTYPE html>
<html>
<head>
<div class="logo-wrapper">
    <img src="{{ url_for('static', filename='images/logo-small.png') }}" alt="Eve's Logo">
</div>

    <title>Submitted Flavors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>The winners</h1>
        {% if flavors %}
            <ul>
            {% for flavor, count in flavors %}
                <li>{{ flavor }} ({{ count }})</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No flavors submitted yet.</p>
        {% endif %}
        <a href="/">Back to Home</a>
    </div>
</body>
</html>
