{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>Locally made with seasonal ingredients and a lot of love</h1>
    <p>Find us at your favorite markets and events!</p>
    <a href="https://www.instagram.com/eves_empanadas?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="instagram-link" target="_blank">
        📸 Follow us on Instagram
    </a>

    <hr class="decorative-line">

    <a href="/votar" class="vote-button">Vote for your favorite flavor 🥟</a>

    <div class="gallery-home">
        <img src="{{ url_for('static', filename='images/home/Tienda-packs.PNG') }}">
        <img src="{{ url_for('static', filename='images/home/Cooking-Empanadas(1).PNG') }}">
        <img src="{{ url_for('static', filename='images/home/Empa(1).PNG') }}">
        <img src="{{ url_for('static', filename='images/home/Pastalinda(1).PNG') }}">
    </div>
</div>

{% endblock %}
