{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>Choose your favorite!</h1>

    <a href="/" class="home-button">← Back to Home</a>

    <div class="gallery-row">
        {% for img in images %}
        <form method="POST" action="/submit" class="photo-form">
            <input type="hidden" name="flavor" value="{{ img.rsplit('.', 1)[0].replace('-', ' ') }}">
            <input type="image" src="{{ url_for('static', filename='images/empanadas/' + img) }}" alt="Empanada" />
        </form>
        {% endfor %}
    </div>
</div>

{% endblock %}
