<!DOCTYPE html>
<html>
<head>
    <title>Let's vote!</title>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>EVE’S EMPANADAS</h1>
        <p>Choose your favorite!</p>
        <hr class="decorative-line">

        <div class="gallery-row">
            {% for img in images %}
            <form method="POST" action="/submit" class="photo-form">
                <input type="hidden" name="flavor" value="{{ img.rsplit('.', 1)[0].replace('-', ' ') }}">
                <input type="image" src="{{ url_for('static', filename='images/' + img) }}" alt="Empanada" />
            </form>
            {% endfor %}
        </div>
    </div>
</body>
</html>
